#features {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    overflow: auto;
    background: rgba(255, 255, 255, 0.8);
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 75%;
}
#nodename {
    text-align: center;
    }
.hidepanelbtn{
    position:fixed;
    top:50%;
    right:24.5%;
}
.showpanelbtn{
    position:fixed;
    right:0;
    top:50%;
    display:none;
}
#sidepanel{ 
    position:absolute; 
    top:0px; 
    bottom:0; 
    width:25%; 
    right:0; 
    padding :2px; 
}
#menu {
    background: #fff;
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    border-radius: 3px;
    width: 175px;
    border: 1px solid rgba(0,0,0,0.4);
}
#result{
    position:absolute;
    width:100%;
    cursor: pointer;
    overflow-y: auto;
    max-height: 400px;
    z-index:10;
}
#nodelist{
    overflow-y: auto;
    max-height: 300px;
    cursor: pointer;
}
#nodelist li:hover { 
    background-color: rgb(0, 217, 255);
}
.highlight {background-color:rgba(255, 0, 0, 0.363);}
.category_list li a:hover {background-color:red; color:#FFF;}


.legend {
    background-color: #fff;
    border-radius: 3px;
    bottom: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 10px;
    position: absolute;
    right: 26%;
    z-index: 1;
}

.legend h4 {
    margin: 0 0 10px;
}

.legend div span {
    border-radius: 20%;
    display: inline-block;
    height: 12px;
    margin-right: 5px;
    width: 75px;
}

.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.calculation-box {
    display: none;
    height: 60px;
    width: 150px;
    position: absolute;
    bottom: 40px;
    left: 10px;
    background-color: rgba(255, 255, 255, .9);
    padding: 15px;
    text-align: center;
    opacity: 0.9;
}
.bpsearchdiv {
    position: absolute;
    top: 10px;
    left: 33%;
    z-index: 10;
    width: 325px;
    opacity:1;
}
.fullopacity{
    opacity:1;
}
